* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 30px;
    line-height: 1.6;
    background-color: #ff00;
}

button {
    cursor: pointer;
    display: block;
    background: #333;
    color: #fff;
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 20px 0;
}

#chapo{
    width: 400px;
    margin-top: auto;
    margin-left: auto
}
#tableau{
    border-collapse: collapse;
    width: auto;
}

#tableau td, #tableau th {
    
    border: 1px solid grey;
}


#tableau th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #333;
    color: white;
}